*{
    box-sizing: border-box;
    font-family: 'Barlow Semi Condensed', sans-serif;
    margin: 0;
    padding: 0;
}

body{
    background-color: hsl(0, 0%, 81%);
    display: grid;
    place-items: center;
    padding: 3em 1.5em;
}

main{
    max-width: 1440px;
}

.grid{
    display: grid;
        grid-template-areas: 'daniel' 'jonathan' 'jeanette' 'patrick' 'kira';
    grid-auto-columns: 1fr;
    grid-gap: 1.2em;
    text-align: left;
}

.grid article{
    border-radius: 1em;
    box-shadow: 0px 10px 12px -5px rgba(0, 0, 0, 0.67);
}

.grid .stdprofile{
    display: flex;
    align-items: center;
    gap: 1em;
    margin: 2rem 2rem 1rem 1.5rem;
}

.grid .stdprofile img{
    width: 2em;
    border-radius: 50%;
    outline: 1px solid white;
}


.grid .stdprofile .stdname{
    font-size: 0.75rem;
    margin-bottom:0;
    color: white;
}

.grid .stdprofile span{
    opacity: 50%;
}

.grid .testimonial_title{
    font-size:1.2rem;
    margin:0 2rem 1.5rem 1.5rem;
    color: hsl(0, 0%, 100%);
    font-weight: 500;
}

.grid .review{
    font-size: 0.9rem;
    margin: 0 2rem 1.5rem 1.5rem;
    color: hsl(0, 0%, 70%);
}

.grid .grid-daniel{
    grid-area: daniel;
    position: relative;
    z-index: 1;
    background-color:#7541c8 ;
}

.grid-daniel .bg_quotation{
    position: absolute;
    top:1px;
    right: 1.5rem;
    z-index: -1;
}

.grid-jonathan {
    grid-area: jonathan;
    background-color: #48556a;
}
  
.grid-jeanette {
    grid-area: jeanette;
    color: #19212e;
    background-color: white;
}

.grid-jeanette .testimonial_title{
    color:#19212e ;
}

.grid .grid-jeanette .stdprofile .stdname{
    color:#19212e ;
}

.grid-patrick {
    grid-area: patrick;
    background-color: #19212e;
}

.grid .grid-patrick .stdprofile img{
    outline: 1px solid #7541c8;
}
  
.grid-kira {
    grid-area: kira;
    color: #19212e;
    background-color: white;
}

.grid-kira .testimonial_title{
    color:hsl(217, 19%, 35%) ;
}

.grid .grid-kira .stdprofile .stdname{
    color:hsl(217, 19%, 35%);
}